<strong>Olá, {{ student }}</strong>
<p>Obrigado por matricular-se em nossa rede de academias, onde estaremos a disposição para atendê-lo e tirar todas suas duvidas.</p>
<p>Abaixo você poderá conferir as informações sobre o seu plano a partir do dia:{{ start_date }}</p>

<p>
  <strong>Plano: </strong> {{ planTitle }} <br />
  <strong>Data de Término: </strong> {{ end_date }} <br />
  <strong>Valor: </strong> {{totalPrice}}/(mensal: {{ price }} <br />
  <br />
  <small>
    Qualquer dúvida, nos envie uma mensagem pelo App Gympoint, ou se preferir, pelo e-mail: contato@gympoint.com.br
  </small>
</p>
